body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.app .accordion {
  margin-bottom: 25px;
}

p {
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.3);
}
